<ca><%= render 'shared/page_title', title: "All articles"%></ca>
<div align="center">
  <%= will_paginate %>
</div>
<%= render 'articles/article', obj: @article %>
<div align="center">
  <%= will_paginate %>
</div>
