$navbar-default-bg: black;

@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  float: left;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
}
  
#logo:hover {
  color: #fff;
  text-decoration: none;
}  

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('home2.png');
  background-size: cover;
  height: 625px;
}

.jumbotron h1 {
  color: #fff;
  text-align: center;
  margin-bottom: -100px;
  letter-spacing: -1px;
  font-weight: bold;
}

.jumbotron h3 {
  color: #fff;
  text-align: center;
  margin-bottom: 65px;
  letter-spacing: -1px;
  font-weight: bold;
}

.description {
  margin-top: 0;
}

ca {
  
  text-align: center;
  
}

la {
  
  text-align: left;
  
}

.well{
  
  background-color: white;
  
}

.user_info {
  margin-top: 10px;
}

.colormatch a {
  color: #073B15;
}

createdby {
  
  font-size: 10px;
  
}

.article-actions {
  padding-top: 5px;
  a {
    color: #fff;
  }
}